.header-mega-menu-link {

	padding: 0 40px 0 30px;
	display: flex;
	align-items: center;
	text-decoration: none;
	height: 100%;
	color: #808080;


	&:hover {



		color: $blue;
		text-decoration: none;

		.icon-svg {

			fill: $blue;

		}

	}

}





.header-mega-menu-link__icon {

	margin-right: 22px;

	.icon-svg {

		fill: grey;

	}



}



.header-mega-menu-link__text {


	font-size: 14px;
	font-weight: 500;
	line-height: 1;

}
