.header {

	background-color: #fff;
	height: 180px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
	margin-bottom: 30px;

}


.header__container {
	max-width: 1110px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 23px;
	padding-right: 41px;
	padding-top: 30px;
	padding-bottom: 38px;

}




.header__search {
	display: flex;
	width: 468px;
	height: 50px;
	border-radius: 4px;
	border: 2px solid #f5f5f5;

}

.header__search-input-wrapper {

	width: 278px;
	//	padding-left: 20px;
	//	padding-right: 20px;
	display: flex;
	align-items: center;
	border-right: 2px solid #f5f5f5;


}

.header__search-input {
	border: none;
	height: 46px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 2.14;


	&::placeholder {

		color: #b3b3b3;
	}
}

.header__search-dropdown {

	display: flex;
	justify-content: center;
	align-items: center;
	width: 142px;
	border-right: 2px solid #f5f5f5;
}

.header__search-button-wrapper {
	flex-grow: 1;
}

.header__search-button {

	background-color: transparent;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
}




.header__links {
	display: flex;
	justify-content: space-between;
}

.header__nav {
	border-top: 2px solid #f5f5f5;
}
