* {

	box-sizing: border-box;
}


body {

	background-color: #fafafa;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	

}


a {


	text-decoration: none;

	&:hover {

		text-decoration: none;
		color: $blue;
	}

}




h1,
h2,
h3,
h4,
h5,
h6,
p {

	margin-top: 0;
	margin-bottom: 0;
	font-size: inherit;
	line-height: 1;


}



.container {
	max-width: 1110px;
	margin: 0 auto;



}

.hidden {

	display: none;
}
